@using GinSki.Models
@using GinSki.MongoDB
@inject Inventory Inventory
@inject InventoryRental InventoryRental

<div class="card">
    <div class="content1">
        <div class="row1">
            <p>icon</p>
            <p>10</p>    
        </div>
        
        <div class="row1">
            <p>icon</p>
            <p>10</p>    
        </div>
        
        
    </div>

    <div class="content2">
        
        <div class="tableHeader">
            
            <div style="width: 50px">
                №
            </div>
            
            
            <div style="width: 350px">
                ФИО
            </div>

            <div style="width: 150px">
                Телефон
            </div>

            <div style="width: 150px">
                Скипасс
            </div>

            <div>
                Кол-во снаряжения
            </div>


        </div>
        <div class="tableContent">
            @for(int i = 1; i <= listActiveUsers.Count; i++)
                    {
                        <div class="boxRow">
                            
                            <div style="width: 50px">
                                 <p>@i</p>
                            </div>
                            
                            <div style="width: 350px">
                                <p>@listActiveUsers[i-1].LName</p>
                                <p>@listActiveUsers[i-1].FName</p>
                                <p>@listActiveUsers[i-1].PName</p>
                            </div>

                            <div style="width: 150px">
                                <p>@listActiveUsers[i-1].Phone</p>
                            </div>

                            <div style="width: 150px">
                                <p>@CalculateDate(listActiveUsers[i-1].Skipass.EndDateTime, listActiveUsers[i-1].Skipass.StartDateTime)</p>
                            </div>

                            <div style="width: 150px">
                                <p>@listActiveUsers[i-1].listInventory.Count.ToString()</p>
                            </div>


                        </div>
                    }
        </div>
        
    </div>

</div>

@code {
    public String Name { get; set; }

   
    public Skipass skipass = new Skipass();


    public List<Client> listActiveUsers = new List<Client>();


    protected override void OnInitialized()
    {
        listActiveUsers = UserDbConnection.GetListClient();
      
    }

    String CalculateDate(DateTime end, DateTime start)
    {
        TimeSpan dt = end - start;
        

        return dt.ToString();
    }

}