@using GinSki.Components
@using GinSki.Models
@using GinSki.MongoDB
@using GinSki.Services
@inject HeaderMenu HeaderMenu
@inject AddInventory AddInventory
@inject InvertoryType InvertoryType

<div class="fon">
    <div class="cardInvent">
        <div hidden="@IsAddUserInventory">
            <AddInventory onDataChanged="@OnDataChanged"></AddInventory>
        </div>

        <div class="content1">
            @if (listInventoryType != null || listInventoryType.Count != 0)
            {
                <select class="selectInterest" @onchange="@SortChanged">
                    <option value="">Все</option>
                    @foreach (var interest in listInventoryType)
                    {
                        <option value="@interest">@interest</option>
                    }
                </select>
                
            }
            
             <button class="tableRow" hidden="@(@IsAddUserInventory?false:true)" @onclick="@Close">X</button>
        </div>

        <div class="content2">
            <div class="tableHeader">
                <p style="width: 50px">№</p>
                <p style="width: 200px">Тип инвентаря</p>
                <p style="width: 200px">Название</p>
                <p>цена за час</p>  
            </div>

            <div class="tableContent">
                @if (listInventory != null)
                {
                    @foreach (var item in listInventory)
                    {
                        <button class="tableRow" disabled="@(@IsAddUserInventory?false:true)" @onclick="() => SelectInventory(item)">
                            <p style="width: 200px">@InvertoryType.listTypesInverory[item.IdTypeInverory]</p>
                            <p style="width: 200px">@item.Name</p>
                            <p>@item.PriceOfHour.ToString() p.</p>
                        </button>
                    }
                }
            </div>
        </div>
        @if (IsAddUserInventory)
        {
            <div class="content4">
                <p>Выбранные снаряжения</p>
                <p>@CrntClient.LName</p>
                <p>@CrntClient.FName</p>
                <div class="content3">
                                     
                    @if (listSelectInv != null)
                    {
                        @foreach (var item in listSelectInv)
                        {
                            <button class="tableRow" disabled="@(@IsAddUserInventory ? false : true)" @onclick="() => UnselectInventory(item)">
                                <p style="width: 200px">@InvertoryType.listTypesInverory[item.IdTypeInverory]</p>
                                <p style="width: 200px">@item.Name</p>
                                <p>@item.PriceOfHour.ToString() p.</p>
                            </button>
                        }
                    }
                </div>
                
                <div>
                    <div>
                        <p>Начало аренды</p>
                        <input @bind-value="@startArend"/>
                    </div>
                    
                    <div>
                        <p>Окончание аренды</p>
                        <input @bind-value="@endArend"/>
                    </div>
                    
                    <div>
                        <button @onclick="@AddUserInventory">Арендовать</button>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>



@code {
    String selectInventory = "";
    bool isShowAddInv = false;
    
    List<Inventory> listSelectInv = new List<Inventory>();
    List<Inventory> listInventory = new List<Inventory>();
    List<String> listInventoryType = new List<String>();

    DateTime startArend = DateTime.Now;
    DateTime endArend = DateTime.Now.AddHours(1);
    
    
    [Parameter]
    public Client CrntClient { get; set; }

    [Parameter]
    public bool IsAddUserInventory { get; set; }

    protected override void OnInitialized()
    {
        listInventoryType = InvertoryType.listTypesInverory.ToList();
        listInventory = InventoryDbConnection.GetListInventory();
    }
    
    private void OnDataChanged(String text)
    {
        listInventory = InventoryDbConnection.GetListInventory();
        StateHasChanged();
    }

    void SortChanged(ChangeEventArgs e)
    {
        selectInventory = e.Value.ToString();
        if (selectInventory == "")
        {
            listInventory = InventoryDbConnection.GetListInventory();
        }
        else
        {
            listInventory = InventoryDbConnection.GetListInventory();
            listInventory = listInventory.Where(x => x.IdTypeInverory == InvertoryType.listTypesInverory.FindIndex(x => x == selectInventory)).ToList();
        }
    }

    void SelectInventory(Inventory inventory)
    {
        listInventory.Remove(inventory);
        listSelectInv.Add(inventory);
    }

    void UnselectInventory(Inventory inventory)
    {
        listSelectInv.Remove(inventory);
        listInventory.Add(inventory);
        StateHasChanged();
    }
    
    void Close()
    {
        
    }

    void AddUserInventory()
    {
        if (listSelectInv == null)
        {
            return;
        }

        foreach (var item in listSelectInv)
        {
            item.StartArend = startArend;
            item.EndArend = endArend;
            
            CrntClient.listInventory.Add(item);
            InventoryDbConnection.DeleteInventory(item);
        }
        UserDbConnection.UpdateClient(CrntClient);
        
    }
}